<ng-container *ngIf="board">
  <h3>Your failed shot count <span class="badge badge-pill badge-primary">{{getGameBoard().getFailedShots()}}</span></h3>
  <p><span [matBadge]="getGameBoard().getFailedShots()" matBadgeOverlap="false" matBadgeSize="small">Your shot failed count</span></p>
  <div style="width: 500px;">

  <mat-grid-list [cols]="getGameBoard().getWidth()+1" rowHeight="fit" gutterSize="3px">
    <!-- horizontal headline -->
    <mat-grid-tile class="tile-header"></mat-grid-tile>
    <mat-grid-tile class="tile-header" *ngFor="let hField of getHorizontalHeader()">
      <span>{{hField}}</span>
    </mat-grid-tile>
    <ng-container *ngFor="let gameBoardRow of getGameBoard().getFields(); index as rowIdx">
      <!-- vertical headline -->
      <mat-grid-tile class="tile-header">{{rowIdx+1}}</mat-grid-tile>
      <!-- game board fields -->
      <mat-grid-tile *ngFor="let gameBoardField of gameBoardRow" (click)="shoot(gameBoardField)">
        <!-- if the field is already shot, show the status image (ship hit/sunken ship/water shot) -->
        <!-- otherwise the field is hidden and only the background image is shown (water)-->
        <img *ngIf="gameBoardField.isShot" class="align-middle" [src]="gameBoardField.statusImage">
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  </div>
</ng-container>
