.game-board {
  border: 1px solid black;
}

.mat-grid-list {
  height: 34em;
}

.mat-grid-tile {
  background-image: url("../../assets/sea-water.jpg");
}

.tile-header {
  background-color: lightblue;
  background-image: unset;
}
