.game-board {
  border: 1px solid black;
}

.mat-grid-list {
  height: 34em;
}

.mat-grid-tile {
  background-image: url("../../assets/sea-water.jpg");
}

.tile-header {
  background-color: lightblue;
  background-image: unset;
}

.initial-image {
  width: 1em;
}

.mat-snack-bar-container{
  color:rgba(0,0,0,.87);
  background:#69f0ae;
  box-shadow: none;
}
